<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
    li
    {
       margin: 10px;
       display: inline-block;
    }

    ul {
      list-style-type: none;
    }

    h1 {
      background-color: aqua;
      width: 83%;
      height: 100px;
      font-size: 30px;
      margin-left: 50px;
      text-align: center;
      padding: 20px;
      color: blueviolet;
      font-weight: bold;
    }
    
    </style>

    <title><%= title %></title>
  </head>
  <body>
      <div class="container">
        <div class="row">
                <h1>Star Wars Movies Database</h1>
        </div>
        <div class= "row">
            <ul>
                <% for (var i=0; i < movies.length; i++ ){ %>
                    <li><a href="/starwars_episode?movie_title=<%=  movies[i].Title %>"><img src="<%= movies[i].Poster %>" width="300" height="300"/></a></li>
                <% } %>
            </ul>
        </div> 
        
      </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
  </body>
</html>